body{
 background-image: url('/imagem/stadium-931975_1920.jpg');
height: 100vh;
width: 90vh;
}
img{
    width: 400px;
}
.fut{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 80%;
 top: 8%;
box-shadow: 6px ,3px 15px black;

}

.fut .botoes button{
    width: 120px;
    padding: 20px;
    position: relative;
    top: 320px;
    left: -102%;
    background: black;
    color: aliceblue;

}
.fut .botoes button:hover{
background-color: brown;
cursor: pointer;
color: rgb(85, 248, 36);


}